<div class="nav-bar">
    <app-navbar></app-navbar>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <article style="margin-top: 1em;">
                <div class="widget-body">
                    <div class="row g-0">
                        <!-- header -->
                        <div class="col-sm-12 text-center form-header">
                            <h4 class="title"><strong>Banking Form</strong></h4>
                        </div>

                        <!-- side nav -->
                        <div class="col-sm-12 col-md-3">
                            <app-side-nav-bank></app-side-nav-bank>
                        </div>

                        <!-- rightab -->
                        <div class="col-sm-12 col-md-9">
                            <div class="rightab">
                                <div class="tab-content">
                                    <div class="tab-pane show active include">
                                        <br>
                                        <h4 class="title">Finish</h4>
                                        <span class="subtitle">asd</span>

                                        <form class="mt-3">
                                            <div class="input-wrapper">

                                            </div>

                                            <div class="col-md-12 text-end mt-3 mb-3">
                                                <button [routerLink]="['/bank-form-02']" class="btn btn-primary px-5 me-2">Back</button>
                                                <button class="btn btn-primary px-5 me-2">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </div>
    </div>
</div>