<div class="cohort-hrcontent">
    <div class="title-container">Cohort 1 - PEGA</div>

    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    Cohort Info
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <div class="item">
                        <p class="label">Status</p>
                        <p class="value">Pending</p><button class="edit-cohort" [routerLink]="['/edit']" routerLinkActive="router-link-active" >Edit info</button>
                    </div>
                    <div class="item">
                        <p class="label">Customer Name</p>
                        <p class="value">Company X</p>
                    </div>
                    <div class="item">
                        <p class="label">Customer SPOC Name</p>
                        <p class="value">John Smith</p>
                    </div>
                    <div class="item">
                        <p class="label">Customer SPOC Email</p>
                        <p class="value">john.smith@x.co</p>
                    </div>
                    <div class="item">
                        <p class="label">Capability Lead Name</p>
                        <p class="value">Alex Lee</p>
                    </div>
                    <div class="item">
                        <p class="label">Capability Lead Email</p>
                        <p class="value">alex.lee@email.com</p>
                    </div>
                    <div class="item">
                        <p class="label">Headcount</p>
                        <p class="value">12</p>
                    </div>
                    <div class="item">
                        <p class="label">Buffer</p>
                        <p class="value">2</p>
                    </div>
                    <div class="item">
                        <p class="label">Salary Rate</p>
                        <p class="value">$50,000</p>
                    </div>
                    <div class="item">
                        <p class="label">Billing Rate</p>
                        <p class="value">$50,000</p>
                    </div>
                    <div class="item">
                        <p class="label">Purchase Price</p>
                        <p class="value">$50,000</p>
                    </div>
                    <div class="item">
                        <p class="label">Sell Price</p>
                        <p class="value">$50,000</p>
                    </div>
                    <div class="item">
                        <p class="label">Training Cost</p>
                        <p class="value">$50,000</p>
                    </div>
                    <div class="item">
                        <p class="label">Target Deployment Date</p>
                        <p class="value">Monday, 28 February 2022</p>
                    </div>
                    <div class="item">
                        <p class="label">Proposed Start Date</p>
                        <p class="value">Monday, 28 February 2022</p>
                    </div>
                    <div class="item">
                        <p class="label">Training Duration</p>
                        <p class="value">4 weeks</p>
                    </div>
                    <div class="item">
                        <p class="label">Coach</p>
                        <p class="value">Mary Jolie</p>
                    </div>
                    <div class="item">
                        <p class="label">Mentor</p>
                        <p class="value">Steve Perkins</p>
                    </div>
                    <div class="item">
                        <p class="label">Trainer</p>
                        <p class="value">Ashley Moore</p>
                    </div>
                    <div class="item">
                        <p class="label">Issues / Notes</p>
                        <p class="value">Sample Notes</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Candidate Info
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <div class="candidate-table">
                        <table class="table table-striped table-hover">
                            <thead class="thead">
                                <tr>
                                    <th class="col">First Name</th>
                                    <th class="col">Last Name</th>
                                    <th class="col">Email Address</th>
                                    <th class="col">Mobile Number</th>
                                    <th class="col">Status</th>
                                    <th class="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>George</td>
                                    <td>Brown</td>
                                    <td>gbrown@gmail.com</td>
                                    <td>912345678</td>
                                    <td>Interview</td>
                                    <td>Edit,Delete</td>
                                </tr>
                                <tr>
                                    <td>Sarah</td>
                                    <td>Smith</td>
                                    <td>sarah.s@gmail.com</td>
                                    <td>912345678</td>
                                    <td>Interview</td>
                                    <td>Edit,Delete</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="add-candidate">
                    <button [routerLink]="['/add-candidate']" routerLinkActive="router-link-active">+ Add new candidate</button>
                </div>
            </div>
        </div>
    </div>
</div>
