<div class="vrtwiz">
    <ul class="verticalwiz nav">
        <li [class.active]="router.url=='/onboarding-start'" role='presentation'>
            <a [routerLink]="['/onboarding-start']" data-toggle="tab" [class.active]="router.url=='/onboarding-start'">
                <div class="step"></div> <span class="title">Application Start</span>
            </a>
        </li>
        <!-- <li [class.active]="router.url=='/section01'" class="nav-link divider"></li> -->
        <li class="nav-link divider"></li>
        <li [class.active]="router.url=='/section01'">
            <a [routerLink]="['/section01']" data-toggle="tab" [class.active]="router.url=='/section01'">
                <div class="step"></div> <span class="title">Personal Particulars</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/section02'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/section02'">
            <a [routerLink]="['/section02']" data-toggle="tab" [class.active]="router.url=='/section02'">
                <div class="step"></div> <span class="title">Family Particulars</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/section03'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/section03'">
            <a [routerLink]="['/section03']" data-toggle="tab" [class.active]="router.url=='/section03'">
                <div class="step"></div> <span class="title">National Service</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/section04'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/section04'">
            <a [routerLink]="['/section04']" data-toggle="tab" [class.active]="router.url=='/section04'">
                <div class="step"></div> <span class="title">Education</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/section07'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/section05'">
            <a [routerLink]="['/section05']" data-toggle="tab" [class.active]="router.url=='/section05'">
                <div class="step"></div> <span class="title">Language Proficiency</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/section08'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/section06'">
            <a [routerLink]="['/section06']" data-toggle="tab" [class.active]="router.url=='/section06'">
                <div class="step"></div> <span class="title">Employment History</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/section09'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/section07'">
            <a [routerLink]="['/section07']" data-toggle="tab" [class.active]="router.url=='/section07'">
                <div class="step"></div> <span class="title">Resume</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/section10'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/section08'">
            <a [routerLink]="['/section08']" data-toggle="tab" [class.active]="router.url=='/section08'">
                <div class="step"></div> <span class="title">Other Information</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/section11'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/section09'">
            <a [routerLink]="['/section09']" data-toggle="tab" [class.active]="router.url=='/section09'">
                <div class="step"></div> <span class="title">Emergency Contact</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/section12'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/section10'">
            <a [routerLink]="['/section10']" data-toggle="tab" [class.active]="router.url=='/section10'">
                <div class="step"></div> <span class="title">Start Date</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/section13'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/section11'">
            <a [routerLink]="['/section11']" data-toggle="tab" [class.active]="router.url=='/section11'">
                <div class="step"></div> <span class="title">Declaration</span>
            </a>
        </li>
        <!-- <li class="divider" [class.active]="router.url=='/onboarding-finish'"></li> -->
        <li class="divider" ></li>
        <li [class.active]="router.url=='/onboarding-finish'">
            <a [routerLink]="['/onboarding-finish']" data-toggle="tab" [class.active]="router.url=='/onboarding-finish'">
                <div class="step"></div> <span class="title">Finish</span>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>