<!-- <app-home-acctmgr></app-home-acctmgr> -->
<!-- <div class="content"> -->
    <!-- <app-home-hrops></app-home-hrops> -->
    <!-- <app-cohort-hrops></app-cohort-hrops> -->
    <!-- <app-edit-cohort-hrops></app-edit-cohort-hrops> -->
    <!-- <app-candidate-form-onboarding></app-candidate-form-onboarding> -->
<!-- </div> -->
<!-- <app-login *ngIf="(accountService.currentUser$ | async) === null"></app-login> -->
<!-- <app-login></app-login> -->
<!-- <div *ngIf="email" class="nav-bar">
    <app-navbar></app-navbar>
</div> -->

<router-outlet></router-outlet>
