<div class="nav-bar">
    <app-navbar></app-navbar>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <article style="margin-top: 1em;">

                <div class="widget-body">
                    <div class="row g-0">

                        <app-onboarding-header></app-onboarding-header>

                        <div class="col-sm-12 col-md-3">
                            <app-side-nav></app-side-nav>
                        </div>

                        <div class="col-sm-12 col-md-9">
                            <div class="rightab">
                                <div class="tab-content">
                                    <div class="tab-pane show active include" id="tab3">
                                        <br>
                                        <h4 class="title">Personal Particulars</h4>
                                        <span class="subtitle">Please make sure to answer the following questions with *
                                            mark.</span>
                                        <form class="mt-3">
                                            <div class="input-wrapper">

                                                <div class="mb-3 row">
                                                    <label class="col-sm-4 col-form-label required-label">1. Kindly
                                                        email the following to <a
                                                            href="mailto:hr.ops@geco.asia">hr.ops@geco.asia</a>.<br />
                                                        Be sure to check both boxes and include your name in the
                                                        filename (steverogers_pic.jpg),
                                                        (steverogers_identitycard.jpg).</label>
                                                    <div class="col-sm-8 align-self-center">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="section012x2">
                                                            <label class="form-check-label" for="section012x2">
                                                                Recent 2x2 Picture
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="section01IDCard">
                                                            <label class="form-check-label" for="section01IDCard">
                                                                Identity Card
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="section01Position"
                                                        class="col-sm-4 col-form-label required-label">2.
                                                        Position</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="section01Position"
                                                            placeholder="Enter your answer">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="section01EnglishName"
                                                        class="col-sm-4 col-form-label required-label">3. English
                                                        Name</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                            id="section01EnglishName" placeholder="Enter your answer">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="section01ChineseName" class="col-sm-4 col-form-label">4.
                                                        Chinese Name (If there is any)</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                            id="section01ChineseName" placeholder="Enter your answer">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="section01CompleteAddress"
                                                        class="col-sm-4 col-form-label required-label">5. Complete
                                                        Address</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                            id="section01CompleteAddress"
                                                            placeholder="Enter your answer">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="inputMothersBirthdate"
                                                        class="col-sm-4 col-form-label required-label">6. Postal
                                                        Code</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                            id="inputMothersBirthdate" placeholder="Enter your answer">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="inputSiblings"
                                                        class="col-sm-4 col-form-label required-label">7.
                                                        Country</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                            id="inputMothersBirthdate" placeholder="Enter your answer">
                                                    </div>
                                                </div>

                                                <!-- WITH IF ELSE (SIBLING DEPENDENT) -->
                                                <div class="mb-3 row">
                                                    <label for="section01Handphone"
                                                        class="col-sm-4 col-form-label required-label">8. Handphone
                                                        including country code</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="section01Handphone"
                                                            placeholder="Enter your answer">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="section01Email"
                                                        class="col-sm-4 col-form-label required-label">9. Email</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control" id="section01Email"
                                                            placeholder="Enter your answer">
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <label for="section01PlaceofBirth"
                                                        class="col-sm-4 col-form-label required-label">11. Place of
                                                        Birth</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control"
                                                            id="section01PlaceofBirth" placeholder="Enter your answer">
                                                    </div>
                                                </div>
                                                
                                                <div class="mb-3 row">
                                                    <label for="section01Sex"
                                                        class="col-sm-4 col-form-label required-label">12. Sex</label>
                                                    <div class="col-sm-8 align-self-center">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="inlineRadioOptions" id="section01GenderMale"
                                                                value="true">
                                                            <label class="form-check-label"
                                                                for="section01GenderMale">Male</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="inlineRadioOptions" id="section01GenderFemale"
                                                                value="false">
                                                            <label class="form-check-label"
                                                                for="section01GenderFemale">Female</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio"
                                                                name="inlineRadioOptions" id="section01GenderOthers"
                                                                value="false">
                                                            <label class="form-check-label"
                                                                for="section01GenderOthers">Others</label>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="mb-3 row">
                                                    <label class="col-sm-4 col-form-label required-label"
                                                        [class.align-self-center]="showOtherDriverLicense">13. Driving
                                                        License Class</label>
                                                    <div class="col-sm-8 align-self-center">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="section01DrivingNo">
                                                            <label class="form-check-label" for="section01DrivingNo">
                                                                No License
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="section01DrivingMotor">
                                                            <label class="form-check-label" for="section01DrivingMotor">
                                                                Motorcycle License
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" value=""
                                                                id="section01DrivingVehicle">
                                                            <label class="form-check-label"
                                                                for="section01DrivingVehicle">
                                                                Vehicle License
                                                            </label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="checkbox" name=""
                                                                id="section01DrivingOthers" value="false"
                                                                (change)="showOtherDriverLicense=!showOtherDriverLicense">
                                                            <label class="form-check-label"
                                                                for="section01DrivingOthers">Others</label>
                                                        </div>

                                                        <div class="mb-3 row" *ngIf="showOtherDriverLicense">
                                                            <label for="section01DrivingOthersText"
                                                                class="col-sm-4 col-form-label"></label>
                                                            <div class="col-sm-12">
                                                                <input class="form-control" type="text" name=""
                                                                    id="section01DrivingOthersText" value=""
                                                                    placeholder="Enter Other License">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="mb-3 row">
                                                    <label for="inputSiblingNationality2"
                                                        class="col-sm-4 col-form-label required-label">14. Date of
                                                        Birth</label>
                                                    <div class="col-sm-8">
                                                        <input type="text" class="form-control mt-2" bsDatepicker
                                                            [bsConfig]="bsConfig" placement="top"
                                                            placeholder="Enter date">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 text-end mt-3 mb-3">
                                                <button [routerLink]="['/onboarding-start']" type="button"
                                                    class="btn btn-primary px-5 me-2">Back</button>
                                                <button [routerLink]="['/section02']" type="button"
                                                    class="btn btn-primary px-5">Next</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>