<div class="edit-cohort-hrops">
    <div class="title-container text-center">Update HTD Cohort Info</div>
    <div class="edit-content">
        <form>
            <div class="row mb-3">
                <label for="trackName" class="col-sm-2 col-form-label">1. Track Name</label>
                <div class="col-sm-10">
                    <input type="text" name="trackName" id="trackName" placeholder=".NET + Angular Developer">
                </div>
            </div>

            <div class="row mb-3">
                <label for="customername" class="col-sm-2 col-form-label">2. Customer Name</label>
                <div class="col-sm-10">
                    <select name="customername" id="">
                        <option value="companyx">Company X</option>
                        <option value="companyz">Company Z</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <label for="customerSPOCName" class="col-sm-2 col-form-label">3. Customer SPOC Name</label>
                <div class="col-sm-10">
                    <input type="text" name="customerSPOCName" id="customerSPOCName" placeholder="John Smith">
                </div>
            </div>

            <div class="row mb-3">
                <label for="customerSPOCEmail" class="col-sm-2 col-form-label">4. Customer SPOC Email</label>
                <div class="col-sm-10">
                    <input type="email" id="customerSPOCEmail" placeholder="john.smith@x.co">
                </div>
            </div>

            <div class="row mb-3">
                <label for="capabilityLeadName" class="col-sm-2 col-form-label">5. Capability Lead Name</label>
                <div class="col-sm-10">
                    <input type="text" name="capabilityLeadName" id="capabilityLeadName" placeholder="Alex Lee">
                </div>
            </div>

            <div class="row mb-3">
                <label for="capabilityLeadEmail" class="col-sm-2 col-form-label">6. Capability Lead Email</label>
                <div class="col-sm-10">
                    <input type="email" id="capabilityLeadEmail" placeholder="alex.lee@email.com">
                </div>
            </div>

            <div class="row mb-3">
                <label for="headcount" class="col-sm-2 col-form-label">7. Headcount</label>
                <div class="col-sm-10">
                    <input type="number" name="headcount" id="headcount" min="1" max="50" placeholder="12">
                </div>
            </div>

            <div class="row mb-3">
                <label for="buffer" class="col-sm-2 col-form-label">8. Buffer</label>
                <div class="col-sm-10">
                    <input type="number" name="buffer" id="buffer" min="0" placeholder="2">
                </div>
            </div>

            <div class="row mb-3">
                <label for="salaryrate" class="col-sm-2 col-form-label">9. Salary Rate</label>
                <div class="col-sm-10">
                    <input type="number" name="salaryrate" id="salaryrate" min="10000" placeholder="50,000">
                </div>
            </div>

            <div class="row mb-3">
                <label for="billingrate" class="col-sm-2 col-form-label">10. Billing Rate</label>
                <div class="col-sm-10">
                    <input type="number" name="billingrate" id="billingrate" min="10000" placeholder="50,000">
                </div>
            </div>

            <div class="row mb-3">
                <label for="purchaseprice" class="col-sm-2 col-form-label">11. Purchase Price</label>
                <div class="col-sm-10">
                    <input type="number" name="purchaseprice" id="purchaseprice" min="10000" placeholder="50,000">
                </div>
            </div>

            <div class="row mb-3">
                <label for="sellprice" class="col-sm-2 col-form-label">12. Sell Price</label>
                <div class="col-sm-10">
                    <input type="number" name="sellprice" id="sellprice" min="10000" placeholder="50,000">
                </div>
            </div>

            <div class="row mb-3">
                <label for="trainingcost" class="col-sm-2 col-form-label">13. Training Cost</label>
                <div class="col-sm-10">
                    <input type="number" name="trainingcost" id="trainingcost" min="10000" placeholder="50,000">
                </div>
            </div>

            <div class="row mb-3">
                <label for="targetdeploy" class="col-sm-2 col-form-label">14. Target Deployment Date</label>
                <div class="col-sm-10">
                    <input type="date" name="targetdeploy" id="targetdeploy">
                </div>
            </div>

            <div class="row mb-3">
                <label for="startdate" class="col-sm-2 col-form-label">15. Proposed Start Date</label>
                <div class="col-sm-10">
                    <input type="date" name="startdate" id="startdate">
                </div>
            </div>


            <div class="row mb-3">
                <label for="trainingduration" class="col-sm-2 col-form-label">16. Training Duration (weeks)</label>
                <div class="col-sm-10">
                    <input type="number" name="trainingduration" id="trainingduration" min="10000" placeholder="50,000">
                </div>
            </div>

            <div class="row mb-3">
                <label for="coach" class="col-sm-2 col-form-label">17. Coach</label>
                <div class="col-sm-10">
                    <input type="text" name="coach" id="coach" placeholder="Mary Jolie">
                </div>
            </div>

            <div class="row mb-3">
                <label for="mentor" class="col-sm-2 col-form-label">18. Mentor</label>
                <div class="col-sm-10">
                    <input type="text" name="mentor" id="mentor" placeholder="Steve Perkins">
                </div>
            </div>

            <div class="row mb-3">
                <label for="trainer" class="col-sm-2 col-form-label">19. Trainer</label>
                <div class="col-sm-10">
                    <input type="text" name="trainer" id="trainer" placeholder="Ashley Moore">
                </div>
            </div>

            <!-- <div class="row mb-3">
                <label for="floatingTextArea">20. Issue / Notes</label>
                <div class="col-sm-10">
                    <textarea name="floatingTextArea" id="floatingTextArea" placeholder="Enter issue or notes"></textarea>
                </div>
            </div> -->
            <div class="form-floating row mb-3">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                <label for="floatingTextarea2">Issue / Notes</label>
            </div>

            <div class="text-center">
                <button type="submit" [routerLink]="['/profile']" routerLinkActive="router-link-active" >Update</button>
            </div>
        </form>
    </div>
</div>
