
<div class="hrcontent">
    <div class="my-tasks-div"><strong>My Tasks</strong></div>
    <div class="my-tasks">
        <table class="table table-striped table-hover">
            <thead class="thead">
                <tr>
                    <th class="col">Task Name</th>
                    <th class="col">Status</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                  <td><a [routerLink]="['/onboarding-start']"><strong>Onboarding Form</strong></a></td>
                  <td>Incomplete</td>
                </tr>
                <tr>
                  <td><a [routerLink]="['/bank-form-01']"><strong>Banking Form</strong></a></td>
                  <td>Incomplete</td>
                </tr>
                <tr>
                  <td><a [routerLink]="['/vax-form-01']"><strong>Vaccination Form</strong></a></td>
                  <td>Incomplete</td>
                </tr>

            </tbody>
        </table>
    </div>
</div>
