<div class="nav-bar">
    <app-navbar></app-navbar>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <article style="margin-top: 1em;">
                <div class="widget-body">
                    <div class="row g-0">
                        <!-- header -->
                        <div class="col-sm-12 text-center form-header">
                            <h4 class="title"><strong>Vaccine & Travel Declaration Form</strong></h4>
                        </div>

                        <!-- side nav -->
                        <div class="col-sm-12 col-md-3">
                            <app-side-nav-vax></app-side-nav-vax>
                        </div>

                        <!-- rightab -->
                        <div class="col-sm-12 col-md-9">
                            <div class="rightab">
                                <div class="tab-content">
                                    <div class="tab-pane show active include">
                                        <br>
                                        <h4 class="title">Start</h4>
                                        <span class="subtitle" style="color: white;">asd</span>

                                        <form class="mt-3">
                                            <div class="input-wrapper">
                                                <p>The survey will take approximately 8 minutes to complete.</p>
                                                <p>Dear Geco Colleague,</p>
                                                <p>I hope you are in good health and good spirits.</p>
                                                <p>We are reaching out to you in view of the recent notification from
                                                    the Multi-Ministry Taskforce (MTF) regarding Workforce Vaccination
                                                    Measures at the workplace after the COVID-19 restrictions are
                                                    revised in December 2021 and subsequently in January 2022.</p>
                                                <p>From 1 January 2022, to keep the workforce safe, only employees who
                                                    are fully vaccinated or have recovered from COVID-19 within the past
                                                    270 days, can return to the workplace. All unvaccinated individuals
                                                    will not be allowed to return to the workplace unless they have
                                                    tested negative for COVID-19 with an Antigen Rapid Test (ART) - snap
                                                    shot the test result to your project person-in-charge. This is
                                                    applicable to Singaporean Citizens, Permanent Residents (PRs), and
                                                    all Work Pass holders (EPs).</p>
                                                <p>
                                                    As a guideline from MOM, the company has some liabilities for
                                                    unvaccinated workers and insurance coverage is restrictive and
                                                    selective for such cases.
                                                </p>
                                                <p>
                                                    Please help us with the following required information so that we
                                                    can be aware of your vaccination status and intended travel plans.
                                                    This will help us to support your special enquiries as well as
                                                    update the respective authorities - MOM and your assigned project
                                                    with the clients.
                                                </p>
                                                <p>
                                                    We would like to assure you that we will NOT share your Personal
                                                    Data with non-Government entities and to safeguard your Personal
                                                    Data, all information will be kept confidentially and secured with
                                                    appropriate security technologies.
                                                </p>
                                                <p>
                                                    Please take a few minutes to complete and submit the below form.
                                                </p>
                                                <p>
                                                    If you have questions about the Workforce Vaccination Measures, do
                                                    share in the feedback box below.
                                                </p>

                                            </div>

                                            <div class="col-md-12 text-end mt-3 mb-3">
                                                <button [routerLink]="['/vax-form-02']" class="btn btn-primary px-5 me-2">Next</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
        </div>
    </div>
</div>